@import url(https://fonts.googleapis.com/css?family=Oswald:300);
@import url(https://fonts.googleapis.com/css?family=Abel);
@import "https://s3-us-west-2.amazonaws.com/s.cdpn.io/584938/dashboard.scss";

body {
  position: relative;
  height: fit-content;
}

.nav {
  padding-top: 20px;
  padding-right: 20px;
}

.home-main {
  /* background-image: url(../assets/images/5-mejorcadadia-welcome-negro-better.png); */
  background-color: rgba(0, 0, 0, 0.5);
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.nav button,
.btn-check:active+.btn,
.btn-check:checked+.btn,
.btn.active,
.btn.show,
.btn:active {
  font-weight: 600;
  font-size: 16px;
  padding: 10px 20px;
  margin-left: 20px;
  border-radius: 20px;
  box-shadow: 4px 4px 5px 0px rgb(0 0 0 / 35%) !important;
  color: #fff !important;

}

.responsive_view_text {
  display: none;
  text-align: center;
}

.responsive_view_text .res_logo {
  margin-bottom: 20px;
}

.responsive_view_text .res_logo img {
  width: 100px;

}

.responsive_view_text .res_logo img.mobile {
  width: auto;

}

.nav a {
  color: #000;
  font-weight: 600;
  font-size: 16px;
  text-decoration: none;
  padding: 10px 20px;
  /* background: #efefef; */
  border-radius: 20px;
  box-shadow: 4px 4px 5px 0px rgb(0 0 0 / 35%);
  color: #fff;
}

.nav .btn {
  border: 0px !important;
}

.nav .profile {
  height: 45px;
  width: 45px;

  display: block;
  padding: 0px;
  margin-left: 20px;

}

.nav .profile img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;

}

.bg_image {
  /* position: absolute; */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.login-content {
  background: #FFF;
  text-align: center;
  padding: 50px 0px;
  margin-left: auto;
  max-width: 484px;
  margin-right: 50px;
  margin-top: 50px;
  border-radius: 30px;
  width: 100%;
}

button.btn-close {
  background: none;
  position: absolute;
  top: 12px;
  opacity: 1;
  right: 20px;
  z-index: 999;
  padding: 0;
  height: fit-content;
  width: fit-content;
  box-shadow: none !important;
}

button.btn-close img {
  height: 22px;
  transform: rotate(45deg);
}

button.btn-close i {
  color: #000000 !important;
  font-size: 26px;
}

.fb_iframe_widget span {
  width: 288px !important;

}

.fb_iframe_widget {
  margin-left: 40px;
}

#buttonDiv,
#registrationButtonDiv {
  max-width: 270px;
  margin: 10px auto;

}

.form-group {
  width: 270px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

}

.form-group label {
  padding-left: 9px;
}

.form-group input {
  width: 270px;
  border-radius: 16px;
  height: 44px;
  border: 2px solid #c00;
  padding: 8px 16px;
}

#email_login,
#email_registration {
  margin: 0 auto;
  width: 270px;
  border-radius: 20px;
  padding-top: 9px;
  padding-bottom: 9px;
  background: rgb(230, 0, 35);
  border: none;
  color: #fff;
  font-size: 15px;
  font-weight: 700;

}

.form-group input {
  display: block;
  outline: 0 !important;
}

form label {
  display: block;
  text-align: left;
}

.modal-header .btn-close {
  margin-top: 5px;
  margin-right: 5px;
}

/* footer part start */
.msg {
  background-size: 25px 25px !important;
  background-position: 10px 50% !important;
  background-repeat: no-repeat !important;
  padding: 10px;
  padding-left: 45px;
  color: #fff;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  text-align: left;
  position: relative;
  font-size: 15px;
}

.msg_error {
  background-color: #e74c3c;
  background-image: url(images/error.png);
}

.msg_success {
  background-color: #00c200;
  background-image: url(images/success.png);
}

.msg_info {
  background-color: #009688;
  background-image: url(images/info.png);
}

/* footer part end */

/*Profile page style start*/
#Profile {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100%;
  padding-top: 15%;

}

.profile_image {
  height: 150px;
  width: 150px;
  border-radius: 50%;
}

#Profile .id {
  font-size: 13px;
  font-weight: 400;
  font-family: 'Abel';
  display: block;
  padding-top: 10px;
}

#Profile .user_name {
  font-size: 36px;
  font-weight: 600;
  margin-bottom: 0;
  margin-top: 10px;
}

#Profile .description {
  font-size: 16px;
  font-weight: 400;
  width: 380px;
  max-width: 100%;
  text-align: center;
  font-family: 'Abel';
}

.profile_edit_btn {
  padding: 10px 20px;
  background: #efefef;
  border-radius: 50px;
  text-decoration: none;
  color: #000;
  font-weight: 600;
  text-transform: capitalize;
  font-family: 'Abel';
  display: block;
  font-size: 18px;
}

.sign_out {
  display: flex;
  justify-content: flex-end;
  padding: 20px;
}

.sign_out a {
  text-decoration: none;
  color: #000;
  font-weight: 700;
  padding: 10px 20px;
  background: red;
  border-radius: 50px;
  text-decoration: none;
  color: #FFF;
  font-weight: 600;
  text-transform: capitalize;
  font-family: 'Abel';
  display: block;
  font-size: 18px;

}

/*Profile page style end*/
/* edit profile style start */
.change-profile-group .preview_image label {
  background: #efefef;
  color: #000;
  padding: 0.5rem;
  /* font-family: sans-serif; */
  border-radius: 0.3rem;
  cursor: pointer;
  margin-top: 1rem;
  font-weight: 600;
  font-family: 'Abel';
}

.change_photo {
  margin-left: 20px;
}

.change-profile-group .preview_image {
  display: flex;
  align-items: center;
  margin-bottom: 20px;

}

.change-profile-group {
  width: 400px;
  max-width: 98%;

}

.change-profile-group input {
  border: 2px solid #cdcdcd;
  padding: 8px 16px;
  border-radius: 16px;
  width: 300px;
  max-width: 98%;
  font-family: 'Abel';
}

input.username {
  display: block;
  min-height: 38px;
  margin-top: 9px;
  font-weight: 600;
  font-family: 'Oswald';
}

textarea {
  display: block;
  border: 2px solid #cdcdcd;
  padding: 8px 16px;
  border-radius: 16px;
  width: 300px;
  max-width: 98%;
  color: #000;
  font-weight: 600;
  font-size: 16px;
  font-family: 'Oswald';
  outline: none !important;
  margin-top: 9px;

}

.change-profile-group label {
  padding-left: 10px;
  font-weight: 600;
  font-family: 'Abel';
}

.change-profile-group .preview_image img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.change-profile-group .preview_image .change_photo {
  margin-left: 20px;
}

#change-profile-form {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 30px;
}

.change-profile-group {
  margin-bottom: 10px;
}

#submit-new-details {
  padding: 10px 20px;
  background: #efefef;
  border-radius: 50px;
  text-decoration: none;
  color: #000;
  font-weight: 600;
  text-transform: capitalize;
  font-family: 'Abel';
  display: block;
  font-size: 18px;
  cursor: pointer;
  border: 0px;
  display: block;
  margin-right: 70px;
}

/* edit profile style end */

/*admin css start*/

.admin-dashbord {
  background-color: #1b2431;
  color: #202020;
  font-family: "Montserrat", "Helvetica", "Open Sans", "Arial";
  font-size: 13px;
  height: 100vh;
  width: 100%;
  overflow-y: scroll;
}

.admin-dashbord .navbar-brand {
  background: none;
  box-shadow: none;

}

.admin-dashbord .sidebar-sticky {
  padding-top: 2.5rem;
}

.admin-dashbord .sidebar {
  top: 90px;
  border-right: 1px solid #2c394a;
}

a:hover {
  text-decoration: none;
}

p,
figure {
  margin: 0;
  padding: 0;
}

.ml-sm-auto {
  margin-left: auto;
}

.admin-dashbord .navbar {
  background-color: #1b2431;
  border-bottom: 1px solid #2c394a;
  padding-left: 10px;
}

.sidebar {
  background-color: #1b2431;
  box-shadow: none;
}

.sidebar .nav-link {
  border-left: 5px solid transparent;
  color: #738297;
  padding: 0.5rem 0.75rem;
}

.sidebar .nav-link:hover {
  color: white;
}

.sidebar .nav-link.active {
  border-left: 5px solid #738297;
  color: white;
}

.sidebar .zmdi {
  display: inline-block;
  font-size: 1.35rem;
  margin-right: 5px;
  min-width: 25px;
}

.projects {
  background-color: #273142;
  border: 1px solid #313d4f;
  overflow-x: auto;
  width: 100%;
}

.projects-inner {
  border-radius: 4px;
}

.projects-header {
  color: white;
  padding: 22px;
}

.projects-header .count,
.projects-header .title {
  display: inline-block;
}

.projects-header .count {
  color: #738297;
}

.projects-header .zmdi {
  cursor: pointer;
  float: right;
  font-size: 16px;
  margin: 5px 0;
}

.projects-header .title {
  font-size: 21px;
}

.projects-header .title+.count {
  margin-left: 5px;
}

.projects-table {
  background: #273142;
  width: 100%;
}

.projects-table td,
.projects-table th {
  color: white;
  padding: 10px 22px;
  vertical-align: middle;
  white-space: nowrap;
}

.projects-table td p {
  font-size: 12px;
}

.projects-table td p:last-of-type {
  color: #738297;
  font-size: 11px;
}

.projects-table th {
  background-color: #313d4f;
}

.projects-table tr:hover {
  background-color: #303d52;
}

.projects-table tr:not(:last-of-type) {
  border-bottom: 1px solid #313d4f;
}

.projects-table .member figure,
.projects-table .member .member-info {
  display: inline-block;
  vertical-align: top;
}

.projects-table .member figure+.member-info {
  margin-left: 7px;
  vertical-align: middle;
}

.projects-table .member img {
  border-radius: 50%;
  height: 32px;
  width: 32px;
}

.projects-table .status>form {
  float: right;
}

.projects-table .status-text {
  display: inline-block;
  font-size: 12px;
  margin: 11px 0;
  padding-left: 20px;
  position: relative;
}

.projects-table .status-text:before {
  border: 3px solid;
  border-radius: 50%;
  content: "";
  height: 14px;
  left: 0;
  position: absolute;
  top: 1px;
  width: 14px;
}

.projects-table .status-text.status-blue:before {
  border-color: #1c93ed;
}

.projects-table .status-text.status-green:before {
  border-color: #66b92e;
}

.projects-table .status-text.status-orange:before {
  border-color: #da932c;
}

.projects-table .status-text.status-red:before {
  border-color: #d65b4a;
}

.selectric {
  background-color: transparent;
  border-color: #313d4f;
  border-radius: 4px;
}

.selectric .label {
  color: #738297;
  line-height: 34px;
  margin-right: 10px;
  text-align: left;
}

.selectric-wrapper {
  float: right;
  width: 150px;
}

.danger-item {
  border-left: 4px solid #a84d43;
}

.zmdi {
  line-height: 1;
  vertical-align: middle;
}

/* admin css end*/

/*Admin login start */
.admin-login {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #666666;
  background: #eaeff4;
}

.admin-login .wrapper {
  margin: 0 auto;
  width: 100%;
  max-width: 1140px;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.admin-login .container {
  position: relative;
  width: 100%;
  max-width: 600px;
  height: auto;
  display: flex;
  background: #ffffff;
  box-shadow: 0 0 5px #999999;
}

.admin-login .credit {
  position: relative;
  margin: 25px auto 0 auto;
  width: 100%;
  text-align: center;
  color: #666666;
  font-size: 16px;
  font-weight: 400;
}

.admin-login .credit a {
  color: #222222;
  font-size: 16px;
  font-weight: 600;
}

.admin-login .col-left,
.admin-login .col-right {
  padding: 30px;
  display: flex;
}

.admin-login .col-left {
  width: 60%;
  -webkit-clip-path: polygon(0 0, 0% 100%, 100% 0);
  clip-path: polygon(0 0, 0% 100%, 100% 0);
  background: #44c7f5;
}

.admin-login .col-right {
  padding: 60px 30px;
  width: 50%;
  margin-left: -10%;
}

@media(max-width: 575.98px) {
  .admin-login .container {
    flex-direction: column;
    box-shadow: none;
  }

  .admin-login .col-left,
  .admin-login .col-right {
    width: 100%;
    margin: 0;
    -webkit-clip-path: none;
    clip-path: none;
  }

  .admin-login .col-right {
    padding: 30px;
  }
}

.admin-login .login-text {
  position: relative;
  width: 100%;
  color: #ffffff;
}

.admin-login .login-text h2 {
  margin: 0 0 15px 0;
  font-size: 30px;
  font-weight: 700;
}

.admin-login .login-text p {
  margin: 0 0 20px 0;
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
}

.admin-login .login-text .btn {
  display: inline-block;
  padding: 7px 20px;
  font-size: 16px;
  letter-spacing: 1px;
  text-decoration: none;
  border-radius: 30px;
  color: #ffffff;
  outline: none;
  border: 1px solid #ffffff;
  box-shadow: inset 0 0 0 0 #ffffff;
  transition: .3s;
  -webkit-transition: .3s;
}

.admin-login .login-text .btn:hover {
  color: #44c7f5;
  box-shadow: inset 150px 0 0 0 #ffffff;
}

.admin-login .login-form {
  position: relative;
  width: 100%;
}

.admin-login .login-form h2 {
  margin: 0 0 15px 0;
  font-size: 22px;
  font-weight: 700;
}

.admin-login .login-form p {
  margin: 0 0 10px 0;
  text-align: left;
  color: #666666;
  font-size: 15px;
}

.admin-login .login-form p:last-child {
  margin: 0;
  padding-top: 3px;
}

.admin-login .login-form p a {
  color: #44c7f5;
  font-size: 14px;
  text-decoration: none;
}

.admin-login .login-form label {
  display: block;
  width: 100%;
  margin-bottom: 2px;
  letter-spacing: .5px;
}

.admin-login .login-form p:last-child label {
  width: 60%;
  float: left;
}

.admin-login .login-form label span {
  color: #ff574e;
  padding-left: 2px;
}

.admin-login .login-form input {
  display: block;
  width: 100%;
  height: 35px;
  padding: 0 10px;
  outline: none;
  border: 1px solid #cccccc;
  border-radius: 30px;
}

.admin-login .login-form input:focus {
  border-color: #ff574e;
}

.admin-login .login-form button,
.admin-login .login-form input[type=submit] {
  display: inline-block;
  width: 100%;
  margin-top: 5px;
  color: #44c7f5;
  font-size: 16px;
  letter-spacing: 1px;
  cursor: pointer;
  background: transparent;
  border: 1px solid #44c7f5;
  border-radius: 30px;
  box-shadow: inset 0 0 0 0 #44c7f5;
  transition: .3s;
  -webkit-transition: .3s;
}

.admin-login .login-form button:hover,
.admin-login .login-form input[type=submit]:hover {
  color: #ffffff;
  box-shadow: inset 250px 0 0 0 #44c7f5;
}

/*Admin login End*/

@media (max-width: 768px) {
  .login-content {
    /* margin-right: 15px;
        margin-left: 15px; */
    width: 92%;
    margin-left: auto;
    margin-right: auto;
  }

  .company-logo img {
    width: 100px !important;
  }

  body.guest .responsive_nav {
    position: absolute;
    top: 42%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    padding-right: 20px;
  }

  .nav .responsive_nav button,
  .nav .responsive_nav a {

    margin-left: 0px;
    text-align: center;
    margin-bottom: 10px;
  }

  .responsive_view_text {
    display: block;
  }

  #change-profile-form {
    padding-left: 8%;
  }
}

@media only screen and (min-width: 778px) and (max-height: 760px) {
  .company-logo img {
    width: 100px !important;
  }

  .modal h3 {
    font-size: 18px;
    margin-bottom: 0;
  }

  .modal .form-group {
    margin-top: 10px !important;
  }

  .form-group input {
    width: 264px;
    height: 41px;
  }

  .modal h6 {
    margin-bottom: 0px !important;
    margin-top: -31px;
    opacity: 0;
    pointer-events: none;
  }

}